.parent {
    width: 100%;
    position: relative;
}

#schema-div {
    margin-bottom: -50vh;
    height: 140vh;
}

#mat-div {
    height: 30vh;
}

#schema {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -80px;
}

#mat {
    width: 100%;
    height: 100%;
    position: relative;
}

/* infolistan */

#infolista {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  position: relative;
  z-index: 2;
}

#infolista td, #infolista th {
  border: 1px solid #ddd;
  padding: 8px;
}

#infolista tr {
    background-color: #CCCCCC;
}

#infolista tr:nth-child(even){
    background-color: #B3B3B3;
}

#infolista tbody>tr>:nth-child(1){
    text-align: center;
    font-weight: bold;
}

#infolista tr:hover {
    background-color: #ddd;
}

#infolista td:nth-child(1){
    width:  20%;
    font-weight: bold;
}

#petter {
    color: red;
}

#infolista th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.lov {
    background-color: indianred;
}

